body{
    min-width: 100vw;
    min-height: 100vh;
    background: rgb(255,154,162);
background: linear-gradient(90deg, rgba(255,154,162,1) 0%, rgba(255,183,178,1) 17%, rgba(255,218,193,1) 36%, rgba(226,240,203,1) 54%, rgba(181,234,215,1) 77%, rgba(199,206,234,1) 100%);
}

.test{
    color:red
}

#weather-change-btn{
    background-color: #92a2e5 ;
    border-color: #92a2e5;
}
#weather-change-btn:hover{
    background-color: #5d73cd ;
    border-color: #5d73cd;
}